<h1>{{hn}} is the capital of {{vn}}</h1>
<h1><a href="/vietnam">Link to VN page</a></h1>
<a name="" id="" class="btn btn-primary" onclick="return alert('Hello Everyone!')" href="#" role="button">Click me</a>

